<div class="users-container">
  <div class="search-container">
    <nz-input-group nzPrefixIcon="search">
      <input
        nz-input
        placeholder="users search..."
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearch($event)"
      />
    </nz-input-group>
  </div>

  <div class="users-grid">
    <nz-card
      *ngFor="let user of getCurrentPageUsers()"
      class="user-card"
      [nzTitle]="user.name" >
      <div class="button-container">
        <div>
          <p class="user-email">{{ user.email }}</p>
        </div>
        <div>
          <button class="button" nz-button (click)="onEdit(user)" >Edit</button>
          <button class="button" nz-button (click)="onDelete(user.id)" >Delete</button>
          <button class="button" nz-button (click)="goToUserDetails(user.id)" >Details</button>
        </div>
      </div>
    </nz-card>
  </div>

  <div class="pagination-container">
    <nz-pagination
      [nzPageIndex]="currentPage"
      [nzPageSize]="pageSize"
      [nzTotal]="totalItems"
      (nzPageIndexChange)="onPageIndexChange($event)"
      nzShowSizeChanger="false"
    ></nz-pagination>
  </div>
</div>
